@import "tailwindcss";

@theme {
  --color-orange-50: #fff7ed;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
}

@keyframes scan-loop {
  0% {
    top: 0%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scan {
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, #f97316, transparent);
  box-shadow: 0 0 15px #f97316;
  animation: scan-loop 2s linear infinite;
}

body {
  @apply bg-gray-50 text-gray-900;
}
